.app
    @apply bg-bg text-white
    @apply min-h-screen

.headerHeroBg
    background-image: url(/images/bg.png)
    @apply min-h-screen
    background-size: 50%
    background-position: 90% 0
    background-repeat: no-repeat